.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 10px 80px;
}

.side {
  display: flex;
  justify-content: space-evenly;
}

.item-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px 80px;
}
.item {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
